
@{
    ViewBag.Title = "ConfirmAccount";
}

<div class="container mt-5">
    <div class="bg-light p-2">
        <h1 class="large text-primary ct my-2">
            Confirm Your Email address
        </h1>
        <p class="lead text-small center">
            We have sent an email with a confirmation link to your email address. In order to complete the sign-up process, please click the confirmation link.

            If you do not receive a confirmation email, please check your spam folder. Also, please verify that you entered a valid email address in our sign-up form.

            If you need assistance, please contact us.
        </p>

        <p class="center">
            <a class="btn btn-primary" href="@Url.Action("../Home/Index")"><i class="fas fa-home"></i>  Home</a>
        </p>
    </div>
</div>

