
@{
    ViewBag.Title = "ForgotPassword";
}


    <section class="container">
        @if (ViewBag.Message == "success")
        {
            <div class="alert alert-success">
                An email has been sent to your email address, please check your email
            </div>
        }
        else if (ViewBag.Message == "notfound")
        {
            <div class="alert alert-danger">
               Incorrect Email
            </div>
        }

        <h1 class="large text-primary">
            Yo! Forget Your Password
            <i class="fa fa-key"></i>
        </h1>
        <p class="lead"> No worries! Enter your email and we will send you a reset</p>
        <form class="form" action="/Account/ForgotPassword" method="post">
            <div class="form-group relativeBox-new">
                <input type="email" class="form-control-forgot" name="Email" placeholder="ahb@company.com" />
                <i class="fas fa-envelope abs"></i>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Send Request" />
            </div>
        </form>
    </section>

