
@{
    ViewBag.Title = "Index";
}

<section class="landing">
    <div class="dark-overlay">
        <div class="landing-inner">
            <h1 class="x-large">Developers Community</h1>
            <p class="lead">Create profile/portfolio, share posts and get help from other programmers</p>
            <div class="buttons">
                <a class="btn btn-primary" href="@Url.Action("SignUp","Account")"><i class="fas fa-user-plus"></i>  Sign up</a>
                <a class="btn btn-light" href="@Url.Action("Login","Account")"><i class="fas fa-sign-in-alt"></i>  Login</a>
            </div>
        </div>
    </div>
</section>

